*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(assets/img-3.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
header{
    width: 100%;
    height: 13vh;
    background-color: rgb(43, 43, 79);
}
span{
    display: inline-block; 
    font-size: 30px;
}
nav{
    width: 100%;
    height: 100%;
    display: inline-block;
}
div{
    display: inline-block;
}

#span1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-left: 20px;
    font-size: 35px;
    
}
#span2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    font-size: 35px;
}
label {
    display: inline-block;
    cursor: pointer;
  }
  
  /* CSS quando o checkbox está marcado */
  #menu-bar:checked ~ label img {
    transform: rotate(-90deg);
    transition: 1s;
  }
  #aside1 {
    width: 70px;
    position: fixed;
    background-color: rgb(43, 43, 79);
    height: 87vh;
    font-family: "calibri";
  }
  #aside1 nav img{
    display: none;
    margin-left: 35px;
  }
  #menu-bar:checked ~ #aside1 nav img{
    display: flex;
  }
  #aside1 nav span{
    display: none;
  }
  #menu-bar:checked ~ #aside1 nav span{
    display: inline-block;
  }
  #aside1 nav p{
    display: none;
    margin-left: 60px;
  }
  #menu-bar:checked ~ #aside1 nav p{
    display: flex;
  }
  #menu-bar:checked ~ #aside1 #aside-nav{
    height: 50%;
    position: relative;
    top: 0;
  }
  #aside1 #aside-nav{
    height: 50%;
    top: 30%;
    position: relative;
  }
  label img{
    transition: 1s;
    padding: 21px;
  }
 #nome{
    margin-top: 15px;
 }
  #menu-bar{
    display: none;
  }
  #labl{
      position: absolute;
      bottom: 88.5%;
      left: 30%;
  }
  /* #labl:hover ~ ion-icon{
    background-color: blue;
  } */
  #menu-bar:checked ~ #aside1{
    width: 17vw;
    background-color: rgb(43, 43, 79);
    height: 87vh;
    font-family: "calibri";
  }
  #aside-nav{
    width: 100%;
    text-align: center;  
  }
  button{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(43, 43, 79);
    text-align: justify;
    border: none;
  } 
  button:hover{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(123, 123, 188);
    text-align: justify;
    color: black;
} 
  button span{
    font-size: 1.6vw;
    padding: 0 10px;
    position: relative;
    bottom: 6px;
  }
  ion-icon{
    margin-left: 25px;
    font-size: 25px;
  }
  a button{
    color: white;
  }
  #aside-nav p{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
  }
  #loguinho{
    width: 10vw;
    height: 13vh;
  }
  nav #sair{
    width: 50px;
    height: 40px;
    position: absolute;
    text-align: center;
    right: 20px;
    top: 14px;
    background-color: rgb(102, 102, 203);
    font-family: "calibri";
  }
  nav #sair p{
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }